body {
}

.section {
    width: 100vw;
}

hr {
    width: 100%;
}

#errorResults {
    display: none;
}

#errorText {
    color: red;
}

#loadingIndicator {
    display: none;
    width: 5vw;
    height: 5vw;
}